.body-color-contact {
    background-image: url(../img/fondo-contact.jpg);
}

.menu-2 {
    border-bottom: 1px solid rgb(0, 0, 0);

    h1 {
        color: rgb(0, 0, 0);
    }
}

.menu-2:nth-child(1),
.menu-2:nth-child(2) {
    border-right: 1px solid rgb(0, 0, 0);
}

.menu-2:nth-child(4) {
    border-left: 1px solid rgb(0, 0, 0);
}

.flecha-2 {
    .row {
        a {
            border-bottom: 1px solid rgb(0, 0, 0);
            border-right: 1px solid rgb(0, 0, 0);
        }
    }
}

.footer-2 {
    border-top: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);

    h1 {
        color: #000000;
    }
}

.web-credits-2 {
    color: #000000;

}

.footer-web-credits-2 {
    border-top: 1px solid black;
}

.contact {
    color: black;
}

.contact-h1 {
    color: #000000;
}

.text-contact {
    background-color: white;
    color: black;
}